
html, body {
	height: 100%;
    color:#ACB4BF;
    font-size:13px;
    font-family:'opensans_semi', 'helvetica', 'helvetica', 'arial', 'sans-serif';
}


a:link { color:#d0d0d0; }
a:visited { color:#c0c0c0; }
a:hover { color:#ffffff; }
a:active { color:#f0f0f0; }

header {
   min-height: 100%;
   width: 100%;
   height: 100%;
}

.container {
    min-height: 100%;
    width: 100%;
    height: 100%;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex-1 {
    padding: 1em;
    width: 150px;
    background-color:#333333;
}

.flex-2 {
    position: relative;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-2-child {    
    background-color: #1e1e1e;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.flex-3-child {    
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 2;
}

textarea {
    color:white;
    background-color: #1e1e1e;
    width: 100%;
    height: 100%;
}